# Ignore build directories
build/
dist/
# Ignore compiled files
*.o
*.pyc
__pycache__/
# Ignore environment files
.env
.venv/
venv/
# Ignore IDE-specific files
.idea/
.vscode/
# Ignore logs
*.log
# Ignore dataset
dataset/
# Ignore Docker files
README.Docker.md